name: eslint-check
on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'
jobs:
  eslint:
    name: runner / eslint
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Run eslint
      run: cd src && npm i eslint && npx eslint .
    